<div id="shopify-block-15079184273603081885" class="shopify-block shopify-app-block"> 
    <script type="lazyload_int">     
        window.essentialOrderValueBoosterConfigs = [{"id":"cl9lslrm33467511qtl0v9pymej","name":"Order value booster","title":"Free shipping for orders over {order-value}!","progressTitle":"You’re only {order-value-progress} away from free shipping!","reachedTitle":"Congratulations! You've got free shipping!","type":"cart-page","goal":"45","moneyFormat":"${{amount}}","placement":"","published":true,"showOnProducts":[],"showOnCollections":[],"selectedProducts":[],"CTAType":"add-to-cart","CTALink":"","closeButton":false,"buttonText":"Add to cart","updatedAt":"2023-05-18T00:53:32.242Z","style":{"font":"","titleSize":"16","borderSize":"0","titleColor":"#000000","borderColor":"#c5c8d1","gradientEnd":"#FFFFFF","singleColor":"#A8C2E3","borderRadius":"8","buttonRadius":"4","gradientTurn":"90","gradientStart":"#DDDDDD","backgroundType":"singleBackground","buttonTextSize":"14","buttonTextColor":"#000000","insideTopSpacing":"16","productPriceSize":"14","productTitleSize":"16","buttonBorderColor":"#000000","outsideTopSpacing":"20","productPriceColor":"#000202","productTitleColor":"#000303","insideBottomSpacing":"16","outsideBottomSpacing":"20","progressBorderRadius":"4","progressBackgroundColor":"#f8ffff","progressBarBackgroundColor":"#000000"},"showInCountries":["US"],"locationType":"on-countries","currency":"USD","excludeProducts":[],"excludeProductTags":[],"upsellType":""}];
        window.essentialOrderValueBoosterProductsData = [];          
        window.essentialOrderValueBoosterMeta = {
            productData: "null",
            cartItems: [],
            cartProducts: [],
            mainCurrency: "USD"
        };
    </script>
    <script type="lazyload_int" data-src="https://cdn.shopify.com/extensions/b267b5e5-7054-49c3-bc55-897c2a130894/0.109.0/assets/free_shipping_bar_essential_apps.min.js"></script>
</div>